

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class ="col-lg-1" ></div>
            <div class="col-lg-4 align-items-stretch video-box" style='background-image: url("~/Delicious/assets/img/about.jpg");'>
                <img src="~/Delicious/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid pl-5">
            </div>

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3> <strong>Neden</strong> Biz?</h3>
                    <p>
                        Onlarca güzel restorant varken neden bizi seçmelisin biliyor musun?
                    </p>
                    <p class="fst-italic">
                        Çünkü
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> Sana değer veriyoruz... Kendini burada değerli hissetmen birinci önceliğimiz.</li>
                        <li><i class="bx bx-check-double"></i> Sağlık... Sağlık... Sağlık... Lezzet tabiki önemli ama bu sırada sağlığımızı ikinci plana atmamalıyız öyle değil mi?</li>
                        <li><i class="bx bx-check-double"></i> Sağlık dedik diye lezzeti unuttuk mu sandınız? Uzman kadromuz sizin için başka hiç bir yerde bulamayacağınız leziz yemekler hazırlıyor.</li>
                    </ul>
                    <p>
                        Güzel bir ortamda, lezzetli ve sağlıklı yemekler yiyerek biraz sakinleşmek dahası kendini şımartmak istiyorsan seni restorantımıza her zaman bekleriz...
                    </p>
                </div>

            </div>

        </div>

    </div>
</section><!-- End About Section -->
